# Mentra AI Backend URL on Render
VITE_API_BASE=https://mentra-ai-qra2.onrender.com

# Google OAuth 2.0 Web Client ID
VITE_GOOGLE_CLIENT_ID=237733420661-b1n77g76c34g2jvdm2lhsjgrc26h9ucf.apps.googleusercontent.com
